<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <form  th:object="${users}" th:action="@{/form}" th:method="POST">
    <input type="hidden" th:field="*{id}"> <!-- 필요한지는 의문 -->
    <input type="text" th:field="*{name}">
    <br>
    <input type="text" th:field="*{email}">
    <br>
    <input type="password" th:field="*{pwd}">  <!-- password는 field로 하면 전송이 안됨  password를 pwd로 고침-->
    <br>
    <input type="submit" value="submit"></input>
  </form>
</body>
</html>